---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
	nick: "Grendel",
	handle: "CptChuckles",
	country: "The Internet",
	occupation: "Computer programmer",
	hobbies: ["programming", "gamedev", "scripting", "elden ring"],
};

const skills = [
	"HTML",
	"CSS",
	"JavaScript",
	"Astro",
	"Rust",
	"C++",
	"C#.NET",
	"Ruby",
	"Bash",
	"Linux",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle="About Me">
	<style define:vars={{ skillColor, fontWeight, textCase }}>
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}
	</style>

	<h2>...and my new astro blog book webface site</h2>

	<p>
		I am working through Astro's blog tutorial like the uncreative
		copy-pasta chef that I am
	</p>
	<p>
		This site will be updated as I continue through the tutorial, which I
		have specified here as a caveat per the instructions found on said
		tutorial pages, since writing my own content is a brainmeats-taxing task
		that I simply don't have the time for.
	</p>

	<p>Here are a few things about me:</p>

	<ul>
		<li>
			I am known as {identity.nick}, or as {identity.handle} on many online
			accounts
		</li>
		<li>
			I live in {identity.country} and I work as a(n) {
				identity.occupation
			}
		</li>
	</ul>

	<p>My skills include, but are not limited to:</p>

	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>

	{
		happy && (
			<p>
				I am happy to be learning Astro instead of being stuck in some
				third world prison somewhere for attempted drug smuggling! :DDD
			</p>
		)
	}

	{finished && <p>I finished the blog tutorial :DDD</p>}

	{
		goal === 3 ? (
			<p>My goal is to finish this in 3 days</p>
		) : (
			<p>
				My goal is to finish this in at least more than 3 days because
				learning needs to be spaced out far enough for me to forget each
				step along the way or it doesn't really count.
			</p>
		)
	}
</BaseLayout>
