---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
		<Navigation />

		<h1>blolg</h1>
		<h1>This is my glob.</h1>
		<h2>i hope u rike it uwu</h2>

		<p>This is where I will link to my big-brain examples of intellect.</p>

		<ul>
			<li><a href="/posts/post-1">Post I: The Phantom Post</a></li>
			<li><a href="/posts/post-2">Post II: Clone Posts</a></li>
			<li><a href="/posts/post-3">Post III: Revenge of the Post</a></li>
		</ul>

		<Footer />
	</body>
</html>
