---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../layouts/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout pageTitle="My webface blog book site">
	<h2>This is my glob.</h2>
	<h3>i hope u rike it uwu</h3>

	<p>This is where I will link to my big-brain examples of intellect.</p>

	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title} />
			))
		}
	</ul>
</BaseLayout>
