---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle="Home Page">
	<h2>henlo to my Astro site</h2>
	<Greeting client:load messages={["Hi", "henlo", "oi", "YEET"]} />
</BaseLayout>
