---
const { platform, username } = Astro.props;
---
<a style="color: white;" class="socialLink" target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
a, a:visited {
	padding: 0.5rem 1rem;
	background-color: #4c1d95;
	text-decoration: none;
}
</style>
